@import "tailwindcss";

:root {
  --background: #fcfafa;
  --foreground: #1a1616;
  --primary: #e54d42;
  --primary-hover: #c93d33;
  --primary-soft: #fdf2f2;
  --background-light: #fcfafa;
  --background-dark: #161111;
  --text-main: #1a1616;
  --text-secondary: #6b5c5c;
  --card-light: #ffffff;
  --card-dark: #221c1c;
  --border-light: #f1eaea;
  --border-dark: #332a2a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-soft: var(--primary-soft);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-text-main: var(--text-main);
  --color-text-secondary: var(--text-secondary);
  --color-card-light: var(--card-light);
  --color-card-dark: var(--card-dark);
  --color-border-light: var(--border-light);
  --color-border-dark: var(--border-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e7cfcf;
  border-radius: 10px;
}

/* Number input hide arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
